<template name="exportNew">
	<div class="page-header">
	  <h1 class="title">File Manager</h1>
	</div>

	<div class="well">
	  <input type="file" multiple class="any">
	</div>

	<div>
	  <button class="gen-zip btn btn-success">gen and save</button>
	</div>
	<div>
	  <button class="export-data btn btn-success">download</button>
	</div>
	<div class="fileArea">
		{{#each uploadedFiles}}
			{{> uploadedFile}}
		{{/each}}
	</div>
</template>

<template name="uploadedFile">
  <h4>{{#with this.url}}<a href="{{this}}" target="_blank">{{../name}}</a>{{else}}{{this.name}}{{/with}} ({{this.size}} bytes)</h4>
  {{#if this.isUploaded}}
  {{#with this.url download=true}}
  <a href="{{this}}" class="btn btn-default btn-xs" role="button">Download</a>
  {{/with}}
  {{> FS.DeleteButton class="btn btn-danger btn-xs"}}
  {{else}}
  <p>{{> FS.UploadProgressBar semantic=true}} Uploading...</p>
  {{/if}}
</template>
