<template name="export">
  <div class="flex page-header">
    <span class="title">Export CSV Data</span>
    <!-- <paper-icon-button icon="refresh" class="action-button"></paper-icon-button> -->
  </div>

  <paper-material>
    <div class="list-wrapper">
      <div role="listbox" class="list">
    
        <paper-icon-item class="list-item" id="methodExportMonsterSources">
        	<paper-item-body two-line>
    	      <div>Monster.com Sources</div>
    	      <div secondary>Last updated:</div>
    	    </paper-item-body>

          <iron-icon  item-icon icon="file-download"></iron-icon>
        </paper-icon-item>
    
        <paper-icon-item class="list-item" id="methodExportJobStreetSources">
        	<paper-item-body two-line>
    	      <div>JobStreet.com Sources</div>
    	      <div secondary>Last updated:</div>
    	    </paper-item-body>

          <iron-icon  item-icon icon="file-download"></iron-icon>
        </paper-icon-item>
    
        <paper-icon-item class="list-item" id="methodExportMonsterItems">
        	<paper-item-body two-line>
    	      <div>Monster.com Job Data</div>
    	      <div secondary>Last updated:</div>
    	    </paper-item-body>

          <iron-icon  item-icon icon="file-download"></iron-icon>
        </paper-icon-item>
    
        <paper-icon-item class="list-item" id="methodExportJobStreetItems">
        	<paper-item-body two-line>
    	      <div>JobStreet.com Job Data</div>
    	      <div secondary>Last updated:</div>
    	    </paper-item-body>

          <iron-icon  item-icon icon="file-download"></iron-icon>
        </paper-icon-item>
    
        <paper-icon-item class="list-item" id="methodExportCombinedItems">
        	<paper-item-body two-line>
    	      <div>Combined Data</div>
    	      <div secondary>Last updated:</div>
    	    </paper-item-body>

          <iron-icon  item-icon icon="file-download"></iron-icon>
        </paper-icon-item>

          
      </div>
    </div>  
  </paper-material>
</template>