<template name="export">
  <div class="page-header">
    <h1 class="title">Data Exporter</h1>
  </div>

  <section class="flex">
    <!-- <span class="section-header">About</span> -->
    <p>Use the form below to build a data query for JobStreet and Monster data. Exports are limited to 19MB, which is roughly 5,000 job listings. A CSV fill be will automatically downloaded to your browser window.</p>

    <paper-material class="content-container">
      {{#autoForm schema="ExportSchema" type="method" meteormethod="exportOptionsQuery" id="exportOptionsForm"}}

      {{> afQuickField name="collection"}}
      {{#if afFieldValueIs name="collection" value="JobStreetItems"}}
        {{> afQuickField name="jobStreetFields"}}
      {{/if}}
      {{#if afFieldValueIs name="collection" value="MonsterItems"}}
        {{> afQuickField name="monsterFields"}}
      {{/if}}    
      <!-- <div class="layout horizontal"> -->
        {{> afFormGroup name="startDate"}}
        {{> afFormGroup name="endDate"}}
      <!-- </div> -->

      <div class="layout horizontal end-justified">
        <paper-button raised id="js-download-query">Download</paper-button>
      </div>
      {{/autoForm}}

    </paper-material>
  </section>
</template>