<template name="exportNew">
	<div class="page-header">
	  <h1 class="title">Downloads</h1>
	</div>


	<div id="page-sub-heading">
		<div class="description">
			Monster.com Data: <strong> {{numberMonsterItems}} </strong> total records
		</div>
	</div>

	<paper-material id="content-container">
	    <div class="list list-item">
	      <paper-item id="methodExportMonsterItems">
	        <paper-item-body two-line>
	          <div><strong>Part 1</strong></div>
	          <div secondary>Records 0-5k</div>
	        </paper-item-body>
	        <paper-icon-button icon="file-download" alt="Download">
	        </paper-icon-button>
	      </paper-item>
	    </div>
	</paper-material>

	<div id="page-sub-heading">
		<div class="description">
			Jobstreet.com Data:  <strong> {{numberOfItems}} </strong> total records
		</div>
		
	</div>
	{{#each sets}}
  <button class="export-data-sync-limit btn btn-success" data-loading-text="Exporting..." data-start="{{this.start}}" data-end="{{this.end}}">JobStreet {{this.start}} - {{this.end}}</button>
	{{/each}}
</template>
