<template name="data">
  <div class="vertical-section">
    <paper-card heading="Data Table" class="card">
      <div class="card-content">
      		<div class="data-filters">
      			
      		</div>
      		<div class="data-table">
      			{{> tabular table=TabularTables.SourceItems class="mytable flex"}}
      		</div>
      </div>
    </paper-card>
	</div>
</template>

<template name="dataItem">
  <div class="vertical-section">
    <paper-card heading="{{title}}" class="card">
      <div class="card-content">
      <p class="flex"><strong>Posted:</strong>
       {{this.pubDate}}
       </p>
      <p class="flex"><strong>Imported:</strong>
       {{this.postedAt}}
       </p>
        <p class="flex"><strong>URL:</strong>
         {{this.url}}
         </p>
        <p class="flex"><strong>Description:</strong>
         {{{this.htmlDescription}}}
         </p>
        <p class="flex"><strong>Parsed Keywords:</strong>
        <div class="flex-6">
          {{#each this.parsedKeywords}}
            {{this}}<br>
          {{/each}}
        </div>
        </p>


      </div>
    </paper-card>
  </div>
</template>

<template name="tabTitle">
  <a href="{{pathFor route='dataItem' _id=getPost}}">{{this.title}}</a>
</template>