<template name="dummyVars">
		<div class="page-header">
			<h1 class="title">Dummy Variables</h1>
		</div>
	  <section class="">
		  <h4>About</h4>
		  <p>Use the form below to export keyword dummy variable data to AWS. The generated CSV file shows occurances of keywords within JobStreet postings. The current keyword list is used to build column headers for the CSV data.</p>

			<div class="layout horizontal wrap">
		  	<paper-material class="layout vertical" style="margin-right: 15px;">
		  	<h4 style="margin: 15px 0;">Export Form</h4>
		      {{#autoForm schema="dummyVarFilterSchema" type="method" meteormethod="somethingsilly" id="dummyVarsForm"}}
	          {{> afFormGroup name="startDate"}}
	          {{> afFormGroup name="endDate"}}

	          <paper-button id="js-create-dummy-var-file" class="primary" style="margin: 15px; float: right;">Submit</paper-button>
		      {{/autoForm}}
		    </paper-material>

		    <div class="flex" >
  		    {{ > dummyFiles }}
		    </div>
			</div>
	  </section>
</template>