<template name="dummyVars">
		<div class="page-header">
			<h1 class="title">Dummy Variables</h1>
		</div>
	  <section class="">
		  <h4>About</h4>
		  <p>Use the form below to export dummy variable data showing occurances of keywords within individual JobStreet listings. This query uses the current Keyword list to build column headers for the CSV data. These types of queries can be slow; be patient or use a smaller date range!</p>

	  	<paper-material class="layout vertical">
	      {{#autoForm schema="dummyVarFilterSchema" type="method" meteormethod="exportOptionsQuery" id="dummyVarsForm"}}
	        <div class="layout vertical">
	          <h4>Inclusive Date Range</h4>
	          <div class="layout horizontal wrap start-justified">
	            <div class="item">{{> afFormGroup name="startDate"}}</div>
	            <div class="item">{{> afFormGroup name="endDate"}}</div>
	          </div>   
	            <h4>Category Filters</h4>
	            <div class="layout horizontal wrap start-justified">
	              <div class="item">{{> afQuickField name="jsParentCategory" }} </div>
	              <div class="item">{{> afQuickField name="jsSubSpecialization" }} </div>

	              <div class="item">{{> afQuickField name="jsListedIndustry" }}</div>
	              <div class="item">{{> afQuickField name="jsListedSpec" }}</div>
	            </div>          
	            <div class="layout horizontal wrap start-justified">
	              <div class="item">{{> afQuickField name="jsListedRole" }}</div>
	              <div class="item">{{> afQuickField name="jsAltIndustry" }}</div>
	              <div class="item">{{> afQuickField name="jsExperience" }}</div>
	            </div>
	        </div>
	      {{/autoForm}}
	    </paper-material>	  
	  </section>
	  <div class="fab-container layout vertical">
	  	<paper-fab mini id="js-download-skills-matrix" icon="file-download" title="Export SkillsDb/JobStreet dummy variable data" class="fab-color-neutral" style="margin-top: 10px;"></paper-fab>
	  </div>	  
</template>