<template name="job_street_data">
  <div class="page-header">
    <h1 class="title">JobStreet.com Data</h1>
  </div>

  <paper-material class="table-container">
    {{> tabular table=TabularTables.JobStreetItems class="table table-striped table-hover table-condensed flex"}}        
  </paper-material>
</template>

<template name="job_street_data_item">
  <div class="vertical-section">
    <paper-card heading="{{this.title}}" class="card">
      <div class="card-content">
      <p class="flex"><strong>Posted:</strong>
       <!-- {{this.pubDate}} -->
       </p>
      <p class="flex"><strong>Imported:</strong>
       <!-- {{this.postedAt}} -->
       </p>
        <p class="flex"><strong>URL:</strong>
         {{this.url}}
         </p>
         <p class="flex"><strong>Company:</strong>
          {{this.company}}
          </p>
        <p class="flex"><strong>Description:</strong>
         <!-- {{{this.htmlDescription}}} -->
         </p>
        <p class="flex"><strong>Parsed Keywords:</strong>
        <div class="flex-6">
          <!-- {{#each this.parsedKeywords}} -->
            <!-- {{this}}<br> -->
          <!-- {{/each}} -->
        </div>
        </p>


      </div>
    </paper-card>
  </div>
</template>

<template name="jobStreetTabTitle">
  <a href="{{pathFor route='job_street_data_item' _id=getPost}}">{{this.title}}</a>
</template>