<template name="job_street_data">

<div class="flex page-header">
  <span class="title">Data:  JobStreet.com</span>
  <paper-icon-button icon="refresh" class="action-button"></paper-icon-button>
  <!-- <paper-icon-button icon="add" id="js-add-jobstreet-source" class="action-button">+</paper-icon-button>   -->
</div>


  <div class="vertical-section">
    <paper-card class="card">
      <div class="card-content">
    		<div class="data-table">
    			{{> tabular table=TabularTables.JobStreetItems class="mytable flex"}}
    		</div>
      </div>
    </paper-card>
	</div>
</template>

<template name="job_street_data_item">
  <div class="vertical-section">
    <paper-card heading="{{this.title}}" class="card">
      <div class="card-content">
      <p class="flex"><strong>Posted:</strong>
       <!-- {{this.pubDate}} -->
       </p>
      <p class="flex"><strong>Imported:</strong>
       <!-- {{this.postedAt}} -->
       </p>
        <p class="flex"><strong>URL:</strong>
         {{this.url}}
         </p>
         <p class="flex"><strong>Company:</strong>
          {{this.company}}
          </p>
        <p class="flex"><strong>Description:</strong>
         <!-- {{{this.htmlDescription}}} -->
         </p>
        <p class="flex"><strong>Parsed Keywords:</strong>
        <div class="flex-6">
          <!-- {{#each this.parsedKeywords}} -->
            <!-- {{this}}<br> -->
          <!-- {{/each}} -->
        </div>
        </p>


      </div>
    </paper-card>
  </div>
</template>

<template name="jobStreetTabTitle">
  <a href="{{pathFor route='job_street_data_item' _id=getPost}}">{{this.title}}</a>
</template>