<template name="home">
    <div class="page-header">
      <h1 class="title">Project Summary</h1>
    </div>
    
    <section>
    	<span class="section-header">Welcome</span>
    	<p>This is a real-time web scraper and XML/RSS data-aggregator built with the Meteor platform, Node.js, and MongoDB.</p>

    	<span class="section-header">Data Sources</span>
    	<p>Job listings are created from two sources: Monster.com and JobStreet.com. All new listings are parsed, processed to create keyword arrays, and inspected for keyword matches from the Skills DB.</p>

    	<span class="section-header">Automated Server Work</span>
    	<p>Data sources are refreshed automatically every eight hours.</p>

    </section> 
</template>