<template name="home">

    <div class="page-header">
      <h1 class="title">Project Summary</h1>
    </div>

    <div id="page-sub-heading">
      <div class="description">Welcome</div>
      <p>This project is a real-time web scraper and XML data-aggregator built using the Meteor platform, Node.js, and MongoDB.</p>
      <!-- <div class="description">Welcome</div>
      <p>This project is a real-time web scraper and XML data-aggregator built using the Meteor platform, Node.js, and MongoDB.</p> -->
    </div>

</template>