<template name="home">
    <div class="page-header">
      <h1 class="title">Project Summary</h1>
    </div>
    
    <section>
    	<span class="section-header">Data Sources</span>
    	<p>
            Job postings are scraped from two sources: Monster.com via an RSS feed and JobStreet.com via a recurring server process. Each post is stored on the server as a JSON object, with multiple properties available as key/value pairs within each object. The key/values provide some categorical structure to the scraped data; for example, this enables filtering or grouping based on experience, industry, or role. Each job posting is inspected for matches from the Keyword List. See the link on the left for more details.
        </p>

    	<span class="section-header">Recurring Server Processes</span>
    	<p>JobStreet and Monster.com are scraped every eight hours. Batch CSV files of JobStreet postings are exported to an Amazon Web Services bucket every two weeks.</p>
    </section> 
</template>