<template name="monsterData">
  <section class="layout vertical">
    <div class="page-header">
      <h1 class="title">Monster.com Data</h1>
    </div>

      <paper-material class="table-container">
        <div class="form-group clearfix">
          
          <div class="col-md-6 col-xs-12">
            {{> reactiveTableFilter id="text-search" label="Search for text:" fields=fields }}  
          </div>
          
          <div class="col-md-6 col-xs-12">
            {{> sourceSelectFilter }}
          </div>
        </div>

        <div class="form-group clearfix">
          <div class="flex">
            {{> reactiveTable collection=monsteritems settings=tableSettings}}  
          </div>
        </div>

      </paper-material>

  </section>
</template>

<template name="titleTmpl">
  <a href="{{pathFor route='data_item' _id=this._id}}" title="">{{this.title}}</a>
</template>

<template name="data_item">

  <section class="layout vertical">
    <div class="page-header">
      <h1 class="title">Job Listing Details</h1>
    </div>

    <paper-material class="table-container">
      <div class="row">
        <div class="col-xs-6">
          <h4>Listing Information</h4>
          <p class="flex">
            <strong>Title:</strong><br>
           {{this.title}}
          </p>

          <p class="flex">
            <strong>Description:</strong><br>
           {{this.cleanDescription}}
          </p>
          <p class="flex">
            <strong>URL:</strong><br>
           <a href="{{this.url}}" target="_blank" title="">{{this.url}}</a>
          </p>

          <p class="flex">
            <strong>Qualification:</strong><br>
           {{this.qualification}}
          </p>
          <p class="flex">
            <strong>Experience:</strong><br>
           {{this.experience}}
          </p>

          <p class="flex">
            <strong>Created:</strong><br>
           {{this.createdAt}}
          </p>

           <p class="flex">
            <strong>Title Tags:</strong><br>
             <div class="flex-6">
               {{#each this.titleTags}}
                 '{{this}}' 
               {{/each}}
             </div>
           </p>
          <p class="flex">
            <strong>Description Tags:</strong><br>
            <div class="flex-6">
              {{#each this.descriptionTags}}
                '{{this}}' 
              {{/each}}
            </div>
          </p>        
        </div>
        <div class="col-xs-6">
          <h4>Company Information</h4> 
          <p class="flex"><strong>Comany:</strong>
           {{this.company}}
          </p>
          <p class="flex"><strong>Location:</strong>
           {{this.location}}
          </p>

          <p class="flex"><strong>Category:</strong>
           {{this.sourceCategory}}
          </p>          
        </div>
      </div>
    </paper-material>
  </section>

</template>

<template name="sourceSelectFilter">
  <div class="input-group">
    <span class="input-group-addon">
      <span>Filter by Category:</span>
    </span>
    <select class="form-control select-filter">
      <option value="">Any</option>
      {{#each monsterSources}}
        <option value={{this.sourceCategory}}>{{this.sourceCategory}}</option>
      {{/each}}
    </select>
  </div>
</template>