<template name="monsterData">
  <div class="page-header">
    <h1 class="title">Monster.com Data</h1>
  </div>

  <section class="">
    <paper-material class="layout vertical">

        {{#autoForm schema="monsterDataFilter" type="method" meteormethod="somethingsilly" id="monsterFilterForm"}}
          <div class="layout vertical">
            <h4>Date Range</h4>
            <div class="layout horizontal wrap start-justified">
              <div class="item">{{> afFormGroup name="startDate"}}</div>
              <div class="item">{{> afFormGroup name="endDate"}}</div>
            </div>   
              <h4>Category Filters (command + shift to select multiple, command + click to deselect)</h4>
              <div class="layout horizontal wrap start-justified">
                <!-- <div class="item">{{> afQuickField name="sourceCategory" }} </div> -->
                <!-- <div class="item">{{> afQuickField name="jsSubSpecialization" }} </div> -->
              </div>
          </div>
        {{/autoForm}}
    </paper-material>
    <paper-material class="layout vertical">

      <table class="table table-bordered">
        <thead>
            <tr>
              <th><h4>Title</h4></th>
              <th><h4>Company</h4></th>
              <th><h4>Parent Category</h4></th>
              <th><h4>Created</h4></th>
            </tr>
        </thead>
        <tbody>
          {{#each tableItems}}
            <tr>
              <td><a href="{{pathFor 'monsterDataItem' _id=_id}}" class="text-link" title="">
                {{#if this.title}}
                   {{truncateTextLong this.title}}
                 {{else}}
                   {{this._id}}
                 {{/if}}
                </a>
              </td>
              <td>
              {{#if this.company}}
                 {{truncateText this.company}}
               {{else}}
                 Internship
               {{/if}}
              </td>
              <td>{{sourceCategory}}</td>
              <td>{{formatShortDate createdAt}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </paper-material>

    <div class="layout horizontal center-center">
      <paper-button class="js-load-more flex">Load More</paper-button>      
    </div>

  </section>
</template>
