<template name="monsterDataItem">

  <section id="job_street_data_item">
    <div class="page-header">
      <paper-icon-button icon="arrow-back" data-action="back"></paper-icon-button>
        <span class="title">{{this.title}}</span>
    </div>

    <paper-material class="paper-content">
      <div class="content-header">Job Summary</div> 
          <p class="flex">
            <strong>_id:</strong><br>
           {{this._id}}
          </p>

          <p class="flex">
            <strong>Description:</strong><br>
           {{this.description}}
          </p>

          <p class="flex">
            <strong>Parent Cateogry:</strong><br>
           {{this.sourceCategory}}
          </p>
          <p class="flex">
            <strong>Qualification:</strong><br>
           {{this.qualification}}
          </p>
          <p class="flex">
            <strong>Experience:</strong><br>
           {{this.experience}}
          </p>
          
          <p class="flex">
            <strong>Created:</strong><br>
           {{formatDate this.createdAt}}
          </p>
          <p class="flex">
            <strong>URL:</strong><br>
           <a href="{{this.url}}" class="text-link" target="_blank" title="">{{this.url}}</a>
          </p>
    </paper-material>

    <paper-material class="paper-content">
      <div class="content-header">Company Summary</div>
      <div class="content-body">
        <p class="flex"><strong>Comany:</strong>
         {{this.company}}
        </p>
        <p class="flex"><strong>Location:</strong>
         {{this.location}}
        </p>
      </div>
      
    </paper-material>

    <paper-material class="paper-content flex">
      <div class="content-header">Parsed Keywords</div>
       <div class="content-body">
        <strong>Title Tags:</strong><br>
        <div class="flex">
          {{#each this.titleTags}}
            <span>'{{this}}'</span>
          {{/each}}          
        </div>

         <br>
        <strong>Description Tags:</strong><br>
        <div class="flex">
          {{#each this.descriptionTags}}
            <span>'{{this}}'</span>
          {{/each}}  
        </div>
      </div>
    </paper-material>
  </section>

</template>