<template name="monsterData">
  <div class="page-header">
    <h1 class="title">Monster.com Data</h1>
  </div>

  <section class="">
    <paper-material class="layout vertical">

        {{#autoForm schema="monsterDataFilter" type="method" meteormethod="somethingsilly" id="monsterFilterForm"}}
          <div class="layout vertical">
            <h4>Date Range</h4>
            <div class="layout horizontal wrap start-justified">
              <div class="item">{{> afFormGroup name="startDate"}}</div>
              <div class="item">{{> afFormGroup name="endDate"}}</div>
            </div>   
            <h4>Filters</h4>
            <p>Use the command key to select multiple items.</p> 
            <div class="layout horizontal wrap">
              <div class="item">{{> afQuickField name="sourceCategory" }} </div>
              <!-- <div class="item">{{> afQuickField name="qualification" }} </div> -->
              <!-- <div class="item">{{> afQuickField name="experience" }} </div> -->
            </div>
          </div>
        {{/autoForm}}
    </paper-material>
    <paper-material class="layout vertical">

      <table class="table table-bordered">
        <thead>
            <tr>
              <th><h4>Title</h4></th>
              <th><h4>Company</h4></th>
              <th><h4>Parent Category</h4></th>
              <th><h4>Created</h4></th>
            </tr>
        </thead>
        <tbody>
          {{#each items}}
            <tr>
              <td><a href="{{pathFor 'monsterDataItem' _id=_id}}" class="text-link" title="">
                {{#if this.title}}
                   {{truncateTextLong this.title}}
                 {{else}}
                   {{this._id}}
                 {{/if}}
                </a>
              </td>
              <td>
              {{#if this.company}}
                 {{truncateText this.company}}
               {{else}}
                 Internship
               {{/if}}
              </td>
              <td>{{sourceCategory}}</td>
              <td>{{formatShortDate createdAt}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{#if Template.subscriptionsReady}}
        {{#if hasMoreData}}
          <div class="layout horizontal flex center-center">
            <a class="js-load-more text-link" href="#" style="margin-top: 40px;">Load More</a>
          </div>
        {{/if}}
      {{else}}
        {{>loading}}
      {{/if}}
    </paper-material>

  </section>
</template>
