<template name="keywordMatchList">
	<section>

		<div class="layout vertical">
			<div class="page-header">
				  <paper-icon-button icon="arrow-back" data-action="back"></paper-icon-button>
				    <span class="title">Keyword Matches: {{skill.parsed_keyword}}</span>
			</div>

			<paper-material class="layout vertical">
					<table class="table table-bordered">
						<thead>
						    <tr>
						    	<th><h4>Title</h4></th>
						    	<th><h4>Category</h4></th>
						    	<th><h4>Sub Specialization</h4></th>
						    	<th><h4>Industry</h4></th>
						    	<th><h4>Alt. Specialization</h4></th>
						    	<th><h4>Role</h4></th>
						    </tr>
						</thead>
					    <tbody>
						    {{#each items}}

						    	{{>jobStreetRow _id=id}}

						    {{/each}}
					    </tbody>
					</table>
					{{#if Template.subscriptionsReady}}
					  {{#if hasMoreData}}
					    <div class="layout horizontal flex center-center">
					      <a class="js-load-more text-link" href="#" style="margin-top: 40px;">Load More</a>
					    </div>
					  {{/if}}
					{{else}}
					  {{>loading}}
					{{/if}}
			</paper-material>			

		</div>
	</section>
</template>

<template name="jobStreetRow">
	{{#with jsItem _id}}
	  <tr>
	    <td>
	  			<a href="{{pathFor 'itemViewByKeyword' _id=_id}}" class="text-link" title="">
					{{this.title}}
				</a>
			</td>
	      <td>{{truncateText parentCategory}}</td>
	      <td>{{truncateText subSpecialization}}</td>
	      <td>{{truncateText listedIndustry}}</td>
	      <td>{{truncateText listedSpec}}</td>
	      <td>{{truncateText listedRole}}</td>
		</tr>
	{{/with}}
</template>

<template name="jobStreetRowWithId">
	{{#with jsItem _id}}

	{{/with}}
</template>