<template name="app_layout">
  {{#globalLayout}}
	<paper-drawer-panel class="flex">
	  
		<paper-header-panel drawer>
			<paper-toolbar>
			  <span class="type-title">Scraping the Skills Gap: Malaysia</span>
			</paper-toolbar>
			<paper-menu class="nav">
				<paper-item data-action="home">
				    <iron-icon icon="icons:home" item-icon></iron-icon>Home
				</paper-item>
				<paper-submenu class="">
					<paper-item class="menu-trigger" data-action="sources">
						<iron-icon icon="icons:dns" item-icon></iron-icon>Sources
					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<paper-item data-action="sources">Monster.com RSS</paper-item>
						<paper-item data-action="job_street_sources">JobStreet.com Queries</paper-item>
					</paper-menu>
				</paper-submenu>

				<paper-submenu class="">
					<paper-item class="menu-trigger" data-action="data">
						<iron-icon icon="icons:view-list" item-icon></iron-icon>Data
					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<paper-item data-action="data">Monster</paper-item>
						<paper-item data-action="job_street_data">JobStreet</paper-item>
						<paper-item data-action="combined_data">Combined</paper-item>
					</paper-menu>
				</paper-submenu>

				<paper-submenu class="">
					<paper-item class="menu-trigger" data-action="export">
						<iron-icon icon="icons:build" item-icon></iron-icon>Utitlites
					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<paper-item data-action="export">Export CSV</paper-item>
						<paper-item data-action="new_monster_source">Add Monster RSS</paper-item>
						<paper-item data-action="new_jobstreet_source">Add JobStreet Query</paper-item>
					</paper-menu>
				</paper-submenu>
			</paper-menu>
		</paper-header-panel>
		<paper-header-panel main>
			<div id="content" class="flex">
			    {{> yield}}		
			</div>
		</paper-header-panel>
	</paper-drawer-panel>

  {{/globalLayout}}
</template>