<template name="app_layout">
  {{#globalLayout}}
	<paper-drawer-panel class="flex">
	  
		<paper-header-panel drawer>
			<paper-toolbar>
			  <span class="type-title">Scraping the Skills Gap: Malaysia</span>
			</paper-toolbar>
			<paper-menu class="nav">
				<paper-item data-action="home">
				    <iron-icon icon="icons:home" item-icon></iron-icon>Home
				</paper-item>
				<paper-submenu class="">
					<paper-item class="menu-trigger">
						<iron-icon icon="icons:dns" item-icon></iron-icon>Sources
					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<paper-item data-action="monster_sources">Monster.com RSS</paper-item>
						<paper-item data-action="job_street_sources">JobStreet.com Queries</paper-item>
					</paper-menu>
				</paper-submenu>

				<paper-submenu class="">
					<paper-item class="menu-trigger">
						<iron-icon icon="icons:view-list" item-icon></iron-icon>Data
					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<paper-item data-action="data">Monster.com</paper-item>
						<paper-item data-action="job_street_data">JobStreet.com</paper-item>
						<paper-item data-action="combined_data">Processed &amp; Combined</paper-item>
					</paper-menu>
				</paper-submenu>

				<paper-submenu class="">
					<paper-item class="menu-trigger">
						<iron-icon icon="icons:account-balance" item-icon></iron-icon>Masco Classification

					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<a href="{{pathFor 'mascoFour'}}">
							<paper-item>Masco Four</paper-item>
						</a>
						<a href="{{pathFor 'mascoFive'}}">
							<paper-item>Masco Five</paper-item>
						</a>	
						<a href="{{pathFor 'mascoKey'}}">
							<paper-item>Combined Master Key</paper-item>
						</a>
					</paper-menu>
				</paper-submenu>

				<paper-submenu class="">
					<paper-item class="menu-trigger" data-action="export">
						<iron-icon icon="icons:build" item-icon></iron-icon>Utilities
					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<paper-item data-action="export">Export CSV Data</paper-item>
					</paper-menu>
				</paper-submenu>
			</paper-menu>
		</paper-header-panel>
		<paper-header-panel main>
			<div id="content" class="flex">
			    {{> yield}}		
			</div>
		</paper-header-panel>
	</paper-drawer-panel>

  {{/globalLayout}}
</template>