<template name="app_layout">
  {{#globalLayout}}
  <paper-drawer-panel id="drawerPanel" responsive-width="991px">

    <paper-header-panel class="nav-drawer" drawer>
      <!-- Nav Content -->
<!--       <paper-toolbar>
        <div>Navigation Menu</div>
      </paper-toolbar> -->
      <!-- Home -->
      <div id="label" class="layout vertical center-justified">
	      <span class="type-black-lighter">About</span>
      </div>
      <div class="nav" role="listbox">
  	    <a href="{{pathFor 'home'}}" class="nav-menu-item">
	  	    <paper-icon-item>
	  	    	<div class="avatar grey layout vertical center-center" item-icon>
	  	    			<iron-icon icon="icons:home" item-icon></iron-icon>
	  	    	</div>
  	    	    Summary
  	    	  </paper-icon-item>
  	    </a>
  	    <a href="{{pathFor 'export'}}" class="nav-menu-item">
	  	    <paper-icon-item>
	  	    	<div class="avatar grey layout vertical center-center" item-icon>
	  	    			<iron-icon icon="icons:file-download" item-icon></iron-icon>
	  	    	</div>
  	    	    Downloads
  	    	  </paper-icon-item>
  	    </a>
  	  </div>

      <!-- Monster -->
	    <div class="divider-top"></div>
      <div id="label" class="layout vertical center-justified">
	      <span class="type-black-lighter">Monster.com</span>
      </div>
	    <div class="nav" role="listbox">
	  	    <a href="{{pathFor 'monster_sources'}}" class="nav-menu-item">
  	  	    <paper-icon-item>
  	  	      <div class="avatar primary layout vertical center-center" item-icon>M</div>
  	  	      Sources
  	  	    </paper-icon-item>
	  	    </a>
	  	    <a href="{{pathFor 'data'}}" class="nav-menu-item">
  	  	    <paper-icon-item>
  	  	      <div class="avatar primary layout vertical center-center" item-icon>M</div>
  	  	      Data
  	  	    </paper-icon-item>
	  	    </a>
	  	</div>

  	   <!-- JobStreet -->
	    <div class="divider-top"></div>
      <div id="label" class="layout vertical center-justified">
	      <span class="type-black-lighter">JobStreet.com</span>
      </div>
	    <div class="nav" role="listbox">
  	    <a href="{{pathFor 'job_street_sources'}}" class="nav-menu-item">
    	    <paper-icon-item>
    	      <div class="avatar secondary layout vertical center-center" item-icon>JS</div>
    	      Sources
    	    </paper-icon-item>
  	    </a>
  	    <a href="{{pathFor 'job_street_data'}}" class="nav-menu-item">
    	    <paper-icon-item>
    	      <div class="avatar secondary layout vertical center-center" item-icon>JS</div>
    	      Dataset
    	    </paper-icon-item>
  	    </a>
  	  </div>

	    <!-- Masco Classification -->
	    <div class="divider-top"></div>
      <div id="label" class="layout vertical center-justified">
	      <span class="type-black-lighter">Classification</span>
      </div>
	    <div class="nav" role="listbox">
  	    <a href="{{pathFor 'mascoFour'}}" class="nav-menu-item">
    	    <paper-icon-item>
	    	    <div class="avatar ternary layout vertical center-center" item-icon>4</div>
	    	    Masco 4
	    	  </paper-icon-item>
  	    </a>
  	    <a href="{{pathFor 'mascoFive'}}" class="nav-menu-item">
    	    <paper-icon-item>
  	    	  <div class="avatar ternary layout vertical center-center" item-icon>5</div>
  	    	  Masco 5
  	    	</paper-icon-item>
  	    </a>	
  	    <a href="{{pathFor 'mascoKey'}}" class="nav-menu-item">
  	    	<paper-icon-item>
	    	    <div class="avatar ternary layout vertical center-center" item-icon>A</div>
	    	    Aggregate Keywords
	    	  </paper-icon-item>
  	    </a>
  	  </div>

    </paper-header-panel>

    <paper-header-panel class="main" main mode="waterfall">

      <!-- Main Toolbar -->
      <paper-toolbar>
        <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
        <span class="type-size-title">Occupational Skills Analysis: Malaysia</span>
      </paper-toolbar>

      <!-- Main Content -->
      <div class="content">
	      {{>yield}}
      </div>

    </paper-header-panel>

  </paper-drawer-panel>
  {{/globalLayout}}
</template>