<template name="applicationLayout">
	<paper-drawer-panel class="flex">
	  <paper-header-panel drawer>
	    <paper-toolbar>
	      <span class="title"></span>
	    </paper-toolbar>
	    <div>
			<div role="listbox" class="flex">
				<paper-icon-item paper-drawer-toggle data-action="home" style="display: block; margin-top: 20px; padding: 0 20px;">
					<iron-icon icon="icons:info" item-icon style="margin-right: 10px;"></iron-icon>Summary
				</paper-icon-item>

				<paper-icon-item paper-drawer-toggle data-action="sources" style="display: block; margin-top: 20px; padding: 0 20px;">
					<iron-icon icon="icons:perm-data-setting" item-icon style="margin-right: 10px;"></iron-icon>RSS Sources
				</paper-icon-item>

				<paper-icon-item paper-drawer-toggle data-action="data" style="display: block; margin-top: 20px; padding: 0 20px;">
					<iron-icon icon="icons:view-column" item-icon style="margin-right: 10px;"></iron-icon>Data Table
				</paper-icon-item>

				<paper-icon-item paper-drawer-toggle data-action="graph" style="display: block; margin-top: 20px; padding: 0 20px;"> 
				  <iron-icon icon="icons:assessment" item-icon style="margin-right: 10px;"></iron-icon>Data Visualization
				</paper-icon-item>

				<paper-icon-item paper-drawer-toggle data-action="download" style="display: block; margin-top: 20px; padding: 0 20px;"> 
				  <iron-icon icon="icons:file-download" item-icon style="margin-right: 10px;"></iron-icon>Download
				</paper-icon-item>  
	        </div>
	    </div>
	  </paper-header-panel>
	  <paper-header-panel main>
	    
	    <paper-toolbar>
	      <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
	      <span class="title">A Structured Data Approach to the Malaysian Job Market</span>
	      <paper-icon-button icon="icons:lock-outline" data-action="signIn"></paper-icon-button>
	    </paper-toolbar>

	    <div class="flex">
	    	<div class="vertical-center-justified layout">
	    		<div class="page-container">
				    {{> yield}}		
	    		</div>
	    	</div>
	    </div>
	    <div class="flex vertical-left-justified layout">
		    {{ > publicFooter}}
	    </div>
	  </paper-header-panel>
	</paper-drawer-panel>
	


</template>