<template name="keywordMatchList">
	<section>

		<div class="layout vertical">
			<div class="page-header">
				  <paper-icon-button icon="arrow-back" data-action="back"></paper-icon-button>
				    <span class="title">Keyword Matches: {{skill.parsed_keyword}}</span>
			</div>
			<div>
				<table class="table table-bordered">
					<thead>
					    <tr>
							<th>Title</th>
						    <th>Category</th>
						    <th>Subspecialization</th>
						    <th>Industry</th>
						    <th>AltSpecialization</th>
						    <th>Role</th>
					    </tr>
					</thead>
				    <tbody>
					    {{#each items}}
					        <tr>
							    <td>
	    				  			<a href="{{pathFor 'itemViewByKeyword' _id=_id}}" title="">
						  			{{ title}}
						  			</a>
					  			</td>
						        <td>{{truncateText parentCategory}}</td>
						        <td>{{truncateText subSpecialization}}</td>
						        <td>{{truncateText listedIndustry}}</td>
						        <td>{{truncateText listedSpec}}</td>
						        <td>{{truncateText listedRole}}</td>
					        </tr>
					    {{/each}}
				    </tbody>
				</table>
			</div>
		</div>
	</section>

	<!-- <section id="keywordMatchList">

		  <paper-material class="paper-table">
				<div class="layout vertical scroll" style="max-height: 600px;">
					<paper-item>
						<div class="flex">
							<p><strong>Title</strong></p>
						</div>
		  			<div class="flex">
		  				<p><strong>Industry</strong></p>
		  			</div>
		  			<div class="flex">
		  				<p><strong>Industry Alt</strong></p>
		  			</div>	  			
		  			<div class="flex">
		  				<p><strong>Specialization</strong></p>
		  			</div>	  			
		  			<div class="flex">
		  				<p><strong>Alt Specialization</strong></p>
		  			</div>
		  			<div class="flex">
		  				<p><strong>Role</strong></p>
		  			</div>
		  			<div class="flex">
		  				<p><strong>Created</strong></p>
		  			</div>
					</paper-item>
					{{#each items}}
		  			<paper-item>
			  			<div class="flex">

			  			</div>
			  			<div class="flex">
				  			<p></p>
			  			</div>
			  			<div class="flex">
			  				<p></p>
			  			</div>		  			
			  			<div class="flex">
			  				<p></p>
			  			</div>
			  			<div class="flex">
			  				<p></p>
			  			</div>
							<div class="flex">
								<p></p>
							</div>
			  			<div class="flex">
				  			<p>{{formatShortDate this.createdAt}}</p>
			  			</div>
		  			</paper-item>
					{{/each}}
				</div>
		  </paper-material>
	</section> -->
</template>