<template name="keywordMatchList">
	<section>

		<div class="layout vertical">
			<div class="page-header">
				  <paper-icon-button icon="arrow-back" data-action="back"></paper-icon-button>
				    <span class="title">Keyword Matches: {{skill.parsed_keyword}}</span>
			</div>
			<div>
				<table class="table table-bordered">
					<thead>
					    <tr>
							<th>Title</th>
						    <th>Category</th>
						    <th>Subspecialization</th>
						    <th>Industry</th>
						    <th>AltSpecialization</th>
						    <th>Role</th>
					    </tr>
					</thead>
				    <tbody>
					    {{#each items}}
					        <tr>
							    <td>
	    				  			<a href="{{pathFor 'itemViewByKeyword' _id=_id}}" title="">
						  			{{ title}}
						  			</a>
					  			</td>
						        <td>{{truncateText parentCategory}}</td>
						        <td>{{truncateText subSpecialization}}</td>
						        <td>{{truncateText listedIndustry}}</td>
						        <td>{{truncateText listedSpec}}</td>
						        <td>{{truncateText listedRole}}</td>
					        </tr>
					    {{/each}}
				    </tbody>
				</table>
			</div>
		</div>
	</section>
</template>