<template name="skillsList">
	<section class="layout vertical">
	  <div class="page-header">
	    <h1 class="title">Skills DB</h1>
	  </div>

	  <div id="page-sub-heading">
	    <div class="description">About</div>
	    <p>The skills database contains a list of keywords that represent desirable behavioral and technical skills. All existing JobStreet listings have been searched for lowercase instances within the description tags.  Future listings will be classified as they are added to the JobStreet DB. High-level results are available in the 'Skills Summary' section within the main menu bar.</p>

	    <div class="description">Creating new keywords</div>
	    <p>To add a new keyword, use the plus icon in the lower right corner of the page. Once added, all existing and future listings will be automatically be searched for the new keyword.</p>

	    <div class="description">Delete an existing keyword </div>
	    <p>To delete a keyword, tap the trash icon next to a keyword in the table below. This action cannot be undone. Future listings will not be searched for the deleted keyword, and current records will be removed from the Skills DB.</p>
	    
	  </div>

<!-- 	  <div>
	  	<table>
	  		<caption>caption</caption>
	  		<thead>
	  			<tr>Col1</tr>
	  			<tr>Col2</tr>
	  			<tr>Col3</tr>
	  		</thead>
	  		<tbody>
		  		<td>1</td>
		  		<td>2</td>
		  		<td>3</td>
	  		</tbody>
	  	</table>
	  </div> -->
	  <paper-material class="table-container">
	  		<paper-item class="paper-table">
	  			<div class="flex">
	  				<p>
	  					<strong>Keyword</strong>
	  				</p>
	  			</div>
	  			<div class="flex">
	  				<p>
	  					<strong>Skill Type</strong>
	  				</p>
	  			</div>

	    			<div class="flex">
	    				<p>
	    					<strong>Instances</strong>
	    				</p>
	    			</div>
	    			<div class="">
	    				<p>
	    					<strong>Delete</strong>
	    				</p>
	    			</div>
	  		</paper-item>
		<div class="layout vertical scroll" style="max-height: 600px;">

			{{#each rankedSkills}}
			
	  			<paper-item class="paper-table">
		  			<div class="flex">
			  			<a href="{{pathFor 'keywordMatchList' _id}}" title="">{{parsed_keyword}}</a>
		  			</div>
		  			<div class="flex">
			  			<p>{{type}}</p>
		  			</div>
		  			<div class="flex">
		  				<p>{{count}}</p>
		  			</div>
		  			<div class="">
		  				<iron-icon id="js-delete-skill" icon="delete"></iron-icon>
		  			</div>
	  			</paper-item>
  			
			{{/each}}
		</div>

	  </paper-material>
	</section>

	<div class="fab-container layout vertical">
		<paper-fab mini id="js-add-skill" icon="add" title="add" class="green"></paper-fab>	
		<paper-fab mini id="js-download-skills" icon="file-download" title="Download" class="blue" style="margin-top: 10px;"></paper-fab>	
	</div>
	
</template>