<template name="skillsDb">

    <div class="page-header">
	    <h1 class="title">Skills DB</h1>
	</div>

	<section class="layout vertical">
	    <h4>About</h4>
	    <p>The skills database contains a list of keywords that represent desirable behavioral and technical skills. All existing JobStreet listings have been searched for lowercase instances within the description tags.  Future listings will be classified as they are added to the JobStreet DB. High-level results are available in the 'Aggregated Stats' section within the main menu bar.</p>

	    <h4>Create new keywords</h4>
	    <p>To add a single keyword, use the plus icon in the lower right corner of the page. To upload multiple keywords, use the arrow-up icon to upload a CSV of data. Once added to the DB, all existing and future listings will be automatically be searched for the new keyword.</p>

	    <h4>Delete an existing keyword </h4>
	    <p>To delete a keyword, tap the trash icon next to a keyword in the table below. This action cannot be undone. Future listings will not be searched for the deleted keyword, and current records will be removed from the Skills DB.</p>
	    
	    <div class="layout horizontal start-justified" style="min-height: 30px;">
	    	<h4>Sort:</h4>
	    </div>
			
		<paper-material class="layout vertical scroll" style="max-height: 700px;">

			<table class="" style="min-width: 500px;">
				<thead class="">
				    <tr>
					    <th><h4>Keyword</h4></th>
					    <th><h4>Type</h4></th>
					    <th><h4>Began Tracking</h4></th>
					    <th><h4>Matches</h4></th>
				    	<th><h4>Delete</h4></th>
				    </tr>
				</thead>
			    <tbody class="">
				    {{#each tableItems}}
				        <tr class="">
						    <td>{{parsed_keyword}}</td>
						    <td>{{type}}</td>
					        <td>{{ relativeTime createdAt }}</td>
					        <td>
						        <a href="{{pathFor 'keywordMatchList' _id=_id}}" title="View Keyword Matches">
							        <iron-icon icon="view-list" class="table-icon"></iron-icon>
						        </a>
					        </td>
					        <td>
						        <iron-icon id="js-delete-skill" icon="delete" class="table-icon"></iron-icon>
					        </td>
				        </tr>
				    {{/each}}
			    </tbody>
			</table>
		</paper-material>

		<div class="fab-container layout vertical">
			<paper-fab mini id="js-add-skill" icon="add" title="Add a skill to Skills DB" class="action-fab primary" style="margin-top: 10px;"></paper-fab>
			<paper-fab mini id="js-upload-skills-csv" icon="file-upload" title="Upload CSV to Skills DB" class="action-fab primary" style="margin-top: 10px;"></paper-fab>
			<paper-fab mini id="js-download-desc-frequency" icon="file-download" title="Download bulk frequency from descriptionTags frequency data" class="action-fab primary" style="margin-top: 10px;"></paper-fab>
			<paper-fab mini id="js-download-skills" icon="file-download" title="Download SkillsDb/JobStreet dummy variable matrix" class="action-fab primary" style="margin-top: 10px;"></paper-fab>
			<paper-fab mini id="js-bulk-description-export" icon="file-download" title="Download bulk frequency from description string" class="action-fab primary" style="margin-top: 10px;"></paper-fab>
		</div>
	</section>
</template>