@import '../import';

#content{
	display: block;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 20px 20px;
}

.avatar {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.avatar.primary {
  background-color: #673AB7;
}
.avatar.secondary {
  background-color: #1C3F94;
}
.avatar.ternary {
  background-color: #2196F3;
}
.avatar.grey {
  background-color: @color-bg-grey-darkest;
}

.loginTemp {
  position: absolute;
  top: 20px;
  right: 20px;
}
