@import '../import';

#content{
	display: block;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 20px 20px;
}

.avatar {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.avatar.primary {
  background-color: blue;
}
.avatar.secondary {
  background-color: orange;
}
.avatar.ternary {
  background-color: red;
}
.avatar.grey {
  background-color: @color-bg-grey-darkest;
}