@import '../import';

form {
  .form-group {
  display: block;
  }

	.control-label {
		font-weight: 500;
		margin: 30px 0px 5px 0px;
		display: block;
	}

	.help-block {
  	display: block;
  	margin: 5px 0px;
  	color: red;
	}

    .af-checkbox-group {
      display: block;
      float: left;
    }
    .checkbox {
      min-width: 300px;
      float: left;
    }

}

input[type="checkbox"], input[type="radio"] {
    margin: 15px 5px 15px 20px;
}