<template name="skillsDb">

    <div class="page-header">
	    <h1 class="title">Skills DB</h1>
	</div>

	<section class="layout vertical">
	    <h4>About</h4>
	    <p>The Skills DB contains a list of defined keywords. Upon creation of a new job listing, the description field is searched for instances of each keyword. A separate DB is created on the server to track time-series data related to the occurrance of keyword appearances over time.</p>

	    <h4>Search Terms</h4>
	    <p>Searches are performed using <a class="text-link" href="https://docs.mongodb.com/manual/reference/operator/query/text/" title="">MongoDB text operations</a>.  Specifically, we search for case-insensitive matches on the full phrase. Two or more word phrases will match only on the full string.</p>

	    <h4>Create a new keyword</h4>
	    <p>To add a single keyword, use the plus icon in the lower right corner of the page. To upload multiple keywords, use the arrow-up icon to upload a CSV of data. Once added to the DB, all existing and future listings will be automatically be searched for the new keyword.</p>

	    <h4>Upload multiple keywords as CSV file</h4>
	    <p>To add a multiple keywords as a CSV file, use the upload icon in the lower right corner.</p>

	    <h4>Delete existing keywords </h4>
	    <p>To delete a keyword, tap the trash icon next to a keyword in the table below. This action cannot be undone. Future listings will not be searched for the deleted keyword, and current records will be removed from the Skills DB.</p>
	    
			
		<paper-material class="layout vertical">

			<table class="" style="min-width: 500px;">
				<thead class="">
				    <tr>
					    <th><h4>Keyword</h4></th>
					    <th><h4>Type</h4></th>
					    <th><h4>Job Listing Matches</h4></th>
					    <!-- <th><h4>Matches</h4></th> -->
				    	<th><h4>Delete</h4></th>
				    </tr>
				</thead>
			    <tbody class="">
				    {{#each tableItems}}
				        <tr class="">
				        	<td><a href="{{pathFor 'keywordMatchList' _id=_id}}" class="text-link" title="View Keyword Matches">{{parsed_keyword}}</a></td>
							    <td>{{type}}</td>
					        <!-- <td>{{ relativeTime createdAt }}</td> -->
					        <td>{{count}}</td>

					        <!-- <td>
						        <a href="{{pathFor 'keywordMatchList' _id=_id}}" title="View Keyword Matches">
							        <iron-icon icon="view-list" class="table-icon"></iron-icon>
						        </a>
					        </td> -->
					        <td>
						        <iron-icon id="js-delete-skill" icon="delete" class="table-icon color-neutral"></iron-icon>
					        </td>
				        </tr>
				    {{/each}}
			    </tbody>
			</table>
		</paper-material>

		<div class="fab-container layout vertical">
			<paper-fab mini id="js-add-skill" icon="add" title="Add a skill to Skills DB" class="fab-color-create" style="margin-top: 10px;"></paper-fab>
			<paper-fab mini id="js-upload-skills-csv" icon="file-upload" title="Upload CSV to Skills DB" class="fab-color-create" style="margin-top: 10px;"></paper-fab>
			<paper-fab mini id="s-download-skillsdb-frequency" icon="file-download" title="Export Skills DB frequency data" class="fab-color-neutral" style="margin-top: 10px;"></paper-fab>
			<paper-fab mini id="js-download-skills-matrix" icon="file-download" title="Export SkillsDb/JobStreet dummy variable data" class="fab-color-neutral" style="margin-top: 10px;"></paper-fab>
		</div>
	</section>
</template>