<template name="keywordMatchList">
	<section>

		<div class="layout vertical">
			<div class="page-header">
				  <paper-icon-button icon="arrow-back" data-action="back"></paper-icon-button>
				    <span class="title">Keyword Matches: {{skill.parsed_keyword}}</span>
			</div>

			<paper-material class="layout vertical">
				{{#if items}}
					<table class="table table-bordered">
						<thead>
						    <tr>
								<th>Title</th>
							    <th>Category</th>
							    <th>Sub Specialization</th>
							    <th>Industry</th>
							    <th>Alt. Specialization</th>
							    <th>Role</th>
						    </tr>
						</thead>
					    <tbody>
						    {{#each items}}

						    	{{>jobStreetRow _id=id}}

						    {{/each}}
					    </tbody>
					</table>

					{{#if isMoreData}}
						<paper-button class="js-load-more primary">Load More</paper-button>
					{{/if}}

				{{else}}
					<p>No matches found.</p>
				{{/if}}
			</paper-material>			

		</div>
	</section>
</template>

<template name="jobStreetRow">
	{{#with jsItem _id}}
	  <tr>
	    <td>
	  			<a href="{{pathFor 'itemViewByKeyword' _id=_id}}" class="text-link" title="">
					{{this.title}}
				</a>
			</td>
	      <td>{{truncateText parentCategory}}</td>
	      <td>{{truncateText subSpecialization}}</td>
	      <td>{{truncateText listedIndustry}}</td>
	      <td>{{truncateText listedSpec}}</td>
	      <td>{{truncateText listedRole}}</td>
		</tr>
	{{/with}}
</template>

<template name="jobStreetRowWithId">
	{{#with jsItem _id}}

	{{/with}}
</template>