<template name="source_item">
	<paper-item class="flex">

		<p class="flex-1 type-size-subhead">{{this.sourceName}}</p>
		<p class="flex-5 type-size-subhead">{{this.sourceUrl}}</p>

		<p class="flex-2 type-size-subhead">
			{{#each this.sourceCategories}}
				<p style="display:block;">・{{this}}</p>
			{{/each}}
		</p>
		<p class="flex-1 type-size-subhead">
			<paper-button noink class="delete-link right-justified">
			  <iron-icon icon="icons:clear"></iron-icon>
			</paper-button>			
		</p>
	</paper-item>
</template>